.income{
    width: 100%;
    background: var(--blue2);
    &-content{
        display: flex;
        justify-content: space-between;
        > h3 {
            font-weight: normal;
            color: var(--blue4);
        }
        > span{
            font-weight: bold;
            font-size: 1.8rem;
        }
    }
    
}