.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 2rem;
    padding: 2rem 2rem;
    align-items: start;
    flex-grow: 1;
    background-color: var(--background);
    @media only screen and (max-width: 992px){
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 576px){
        grid-template-columns: 1fr;
    }
}