.header{
    width: 100%;
    &-container{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        box-shadow: 0px 1px 4px var(--shadow-color);
    }
    &-title {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 576px){
            h1 {
                display: none;
            }
        }
        h1{
            font-size: 2.4rem;
        }
    }
    &-logo{
        margin-left: 1rem;
        img{ 
            width: 4rem;
            display: block;
        }
    }
    &-option{
        display: flex;
        align-items: center;
        &-notification,&-theme{
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 1rem;
            box-sizing: content-box;
            transition: all .3s ease;
            padding: .5rem;
            border-radius: 1rem;
            cursor: pointer;
            &:hover{
                background-color: var(--blue1);
            }
        }
        &-profile{
            position: relative;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: .2rem solid var(--white);
            transition: border .3s ease;
            cursor: pointer;
            &:hover{
                border: .2rem solid var(--blue3);
            }
        }
    }
}
