.header{
    width: 100%;
    &-container{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        border-bottom: .3rem solid var(--dark-gray);
    }
    &-title {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 576px){
            h1 {
                display: none;
            }
        }
        h1{
            font-size: 2.4rem;
        }
    }
    &-logo{
        margin-left: 1rem;
        img{ 
            width: 4rem;
            display: block;
        }
    }
    &-option{
        display: flex;
        align-items: center;
        &-profile{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }
    }
}

.change-theme{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}
.alert{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}