.history{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--white);
    @media only screen and (max-width: 992px){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    @media only screen and (max-width: 576px){
        grid-column-end: 1;
        grid-row-start: 4;
    }
    &  h2{
        padding-bottom: 1rem;
        border-bottom: .1rem solid var(--light-gray);
        font-weight: normal;
        color: var(--text-color);
    }
    &-item{
        display: flex;
        justify-content: space-between;
        padding: 1rem ;
        border-radius: .5rem;
        &:not(:last-child){
            margin-bottom: 1rem;
        }
        &:first-child{
            margin-top: 1rem;
        }
        &:nth-child(odd){
            background-color: var(--list-color-odd);
        }
        &:nth-child(even){
            background-color: var(--list-color-even);
        }
        &-desc{
            display: flex;
            align-items: center;
            color: var(--text-color);
        }
        &-price{
            color: var(--text-color);
            font-weight: bold;
            &-income{
                color: var(--income);
            }
            &-expend{
                color: var(--expend);
            }
        }
        
    }
    
}