.expend{
    width: 100%;
    background: var(--blue1);
    &-content{
        display: flex;
        justify-content: space-between;
        > h3 {
            font-weight: normal;
            color: var(--text-color);
        }
        > span{
            font-weight: bold;
            font-size: 1.8rem;
            color: var(--blue5);
        }
    }
}