.form{

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-input{
        outline: none;
        border: .1rem solid var(--gray);
        width: 35rem;
        padding: .5rem;
        margin-bottom: 2rem;
        border-bottom: .3rem solid var(--blue1);
        transition: border .3s linear;
        &:focus{
            border-bottom: .3rem solid var(--blue4);
        }
    }
    &-title{
        margin-bottom: 2rem;
        color: var(--blue4);
    }
    &-radio{
        display: flex;
        margin-bottom: 2rem;
        appearance: none;
        &-button{
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-left: 5rem;
            }
            & input{
                margin-left: .5rem;
            }
        }
    }
    &-button{
        background-color: var(--blue3);
        color: var(--white);
        border: none;
        padding: .5rem 1.5rem;
        border-radius: .5rem;
        box-shadow: 0 .2rem .1rem .1rem var(--dark-gray);
        &:active{
            transform: translateY(.2rem);
        }
    }
}