.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content{
        position: relative;
        top: 0;
        background-color: var(--white);
        padding: 2rem;
        border-radius: .5rem;
        z-index: 200;
    }
}

#dark .modal{
    &-content{
        background-color: var(--dark-background);
    }
}